.karmaCounter {
    display: flex;
    align-items: center;
    z-index: 100;
}

.karmaValue {
    color: var(--bodyText);
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

.up,
.down {
    outline-color: var(--orangeFF);
    outline-offset: 3px;
    border-radius: 3px;
}

.down svg {
    transform: rotate(180deg);
}

.up svg,
.down svg {
    fill: var(--karmaCounterColor);
    transition: fill .1s ease-in-out;
}

.up:hover svg {
    fill: var(--green);
    transition: fill .1s ease-in-out;
}

.down:hover svg {
    fill: var(--redCC);
    transition: fill .1s ease-in-out;
}

@media (max-width: 1024px) {
    .karmaCounter {
        background-color: var(--mobileButton);
        padding: 6px 10px;
        border-radius: 20px;
    }
}

@media all and (min-width: 1024px) {
    .karmaCounter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .karmaValue {
        padding: 7px 0;
        font-size: 14px;
    }

    .down {
        padding: 0;
    }
}