.title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 7px;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    z-index: 100;
}

.title .link {
    color: var(--white);
    transition: color .1s ease-in-out, opacity .1s ease-in-out;
}

@media(hover:hover) {
    .title:hover .link {
        color: var(--titleColorHover);
        opacity: .95;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 14px;
        margin: 0;
    }
}