.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--space);
    position: relative;
}

.card:last-child {
    min-height: 310px;
}

.card:first-child {
    padding-top: 20px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background);
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid var(--commentBorder);
    transition: border-color .1s ease-in-out, background-color .1s ease-in-out;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.content {
    gap: 20px;
    display: flex;
    align-items: start;
    flex-flow: row nowrap;
    position: relative;
    justify-content: space-between;
    padding-right: 50px;
}

.preview {
    max-width: 210px;
    min-width: 210px;
    max-height: 127px;
    height: 127px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

.previewIsOpen {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 60vh;
    background-color: rgb(0 0 0 / 1);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1000;
}

.previewIsOpen img {
    object-fit: contain;
    overflow: clip;
    z-index: 100;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

@media (hover: hover) {
    .body:hover {
        border-color: var(--commentBorderHover);
    }
}

@media all and (max-width: 1024px) {
    .card {
        border: 1px solid var(--commentBorder);
        border-right: none;
        border-left: none;
    }

    .card:first-child {
        padding: 0;
    }

    .card:last-child {
        min-height: 305px;
    }

    .body {
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        border: none;
    }

    @media (hover: hover) {
        .body:hover {
            background-color: var(--greenHover);
            border-radius: 20px;
        }
    }

    .preview {
        max-width: 82px;
        min-width: 82px;
        max-height: 61px;
        height: 61px;
        overflow: hidden;
    }

    .preview img,
    .preview video {
        border-radius: 10px;
    }

    .previewIsOpen {
        margin-bottom: 10px;
    }

    .content {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 10px;
        position: static;
    }

    .wrapper {
        position: relative;
        padding: 10px 15px 0 15px;
        gap: 0;
    }
}