.link {
    display: inline-flex;
    align-items: center;
    margin-right: 65px;
    overflow: visible;
}

.logo {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    overflow: visible;
}

.title {
    display: block;
    height: 22px;
    width: auto;
}

.logo svg path,
.logo svg circle,
.logo svg ellipse {
    stroke-width: 0;
}

.namix {
    overflow: visible;
    height: 27px;
    display: flex;
    align-items: center;
}

.namix g text {
    fill: var(--orangeLogo);
    font-weight: bold;
}

@media (max-width: 1024px) {
    .title {
        height: 15px;
    }

    .namix {
        height: 18px;
    }

    .logo {
        height: 27px;
        width: 27px;
    }

    .link {
        margin-right: 10px;
    }
}