.controls {
    padding: 5px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--darkRgb);
    align-items: center;
}

.karmaCounter>*+* {
    padding: 0 0 0 4px;
}

@media all and (min-width: 1024px) {
    .controls {
        display: flex;
        justify-content: center;
        align-items: start;
        order: 2;
        padding: 10px 5px;
        height: 100%;
        min-width: 55px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}