.textContent {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
}

.commentsButton {
    margin-top: auto;
}

@media all and (min-width: 1024px) {
    .textContent {
        order: 1;
        width: 100%;
        margin-right: auto;
    }

    .userLink {
        padding: 0 6px 0 6px;
    }
}