.avatarBox {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    box-shadow: none;
    background-color: var(--avatarBackground);
    background-image: var(--avatarBackgroundImage);
    transition: box-shadow .1s ease-in-out;
    position: relative;
    margin-right: 8px;
}

.avatar {
    width: 100%;
    border-radius: 100%;
    border: 1px solid var(--greenDark);
    transition: border-color .1s ease-in-out;
    position: absolute;
    left: 0;
}

.avatarImage {
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    object-position: center 20%;
    transform: scale(1.3);
    object-fit: cover;
    clip-path: polygon(0 68.22%, 12.12% 68.22%, 12.85% 71.49%, 13.86% 74.69%, 15.14% 77.79%, 16.69% 80.77%, 18.49% 83.6%, 20.54% 86.26%, 22.8% 88.73%, 25.28% 91%, 27.94% 93.04%, 30.77% 94.85%, 33.75% 96.4%, 36.85% 97.68%, 40.05% 98.69%, 43.32% 99.42%, 46.65% 99.85%, 50% 100%, 53.35% 99.85%, 56.68% 99.42%, 59.95% 98.69%, 63.15% 97.68%, 66.25% 96.4%, 69.23% 94.85%, 72.06% 93.04%, 74.72% 91%, 77.2% 88.73%, 79.46% 86.26%, 81.51% 83.6%, 83.31% 80.77%, 84.86% 77.79%, 86.14% 74.69%, 87.15% 71.49%, 87.88% 68.22%, 100% 68.22%, 100% 0, 0 0);
}

.username {
    border: none;
}

@media (max-width: 1024px) {
    .avatar {
        transform: scale(1.3);
    }

    .username {
        display: flex;
    }

    .avatarBox {
        width: 22px;
        height: 22px;
        margin-right: 0;
    }
}