.userBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
}

.userBox:focus-visible div {
    box-shadow: 0 0 0 1px var(--orangeFF);
}

.userBox span {
    transition: color .1s ease-in-out;
}

@media (hover:hover) {
    .userBox:hover span {
        color: var(--orange);
    }

    .userBox:hover div:first-child {
        box-shadow: 0 0 0 1px var(--orangeFF);
    }

    .userBox:hover div {
        border-color: var(--orangeFF);
    }
}