.userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    margin-right: 5px;
    position: relative;
}

.userLink::before {
    content: '';
    background-color: var(--gray66);
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 1px;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.snoovatar {
    border: none;
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0;
    object-fit: cover;
    object-position: top;
    overflow: visible;
    z-index: 10;
    clip-path: polygon(0 68.22%, 12.12% 68.22%, 12.85% 71.49%, 13.86% 74.69%, 15.14% 77.79%, 16.69% 80.77%, 18.49% 83.6%, 20.54% 86.26%, 22.8% 88.73%, 25.28% 91%, 27.94% 93.04%, 30.77% 94.85%, 33.75% 96.4%, 36.85% 97.68%, 40.05% 98.69%, 43.32% 99.42%, 46.65% 99.85%, 50% 100%, 53.35% 99.85%, 56.68% 99.42%, 59.95% 98.69%, 63.15% 97.68%, 66.25% 96.4%, 69.23% 94.85%, 72.06% 93.04%, 74.72% 91%, 77.2% 88.73%, 79.46% 86.26%, 81.51% 83.6%, 83.31% 80.77%, 84.86% 77.79%, 86.14% 74.69%, 87.15% 71.49%, 87.88% 68.22%, 100% 68.22%, 100% 0, 0 0);
}

.avatar {
    border: none;
    width: 24px;
    height: 24px;
    margin: 6px 9px 0 3px;
    padding: 0 0 0 0;
    object-fit: cover;
    border-radius: 50%;
    z-index: 10;
}

.username {
    color: var(--orangeFF);
    align-items: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
    padding-top: 8px;
    border-bottom: 1px solid transparent;
    transition: border-color .05s ease-in-out, color .05s ease-in-out;
}

.username:focus-visible {
    border-color: var(--orangeFF);
}

.username:hover {
    border-color: var(--orangeFF);
}

.removed {
    padding-top: 8px;
    color: var(--grayD9);
}

@media all and (min-width: 1024px) {
    .username {
        font-size: 14px;
    }
}