.posts {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: calc(100vh - 48px);
}

.loader {
    position: absolute;
    top: 150px;
    left: calc(50% - 32px);
    z-index: 10000;
}

@media all and (min-width: 1024px) {
    .posts {
        width: 100%;
        height: calc(100vh - 52px);
    }
}